/* .container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  width: 100vw;
  height: 100vh;
}

.card-title {
  text-align: left;
}
.card-text {
  text-align: left;
} */

img.img-fluid{
  animation: idle 2s linear infinite;
}

@keyframes idle {
  0%, 100% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}
